// import compass plugins
@import "compass/reset/utilities";
@import "compass/css3/border-radius";
@import "compass/css3/images";

// import Lato font
@import url(http://fonts.googleapis.com/css?family=Lato);

// reset CSS before including inform styles
@include global-reset();

// import utilities
@import "utils/vars";
@import "utils/fonts";

// import components
@import "components/container";
@import "components/columns";
@import "components/article";
@import "components/syntax";
@import "components/headings";
@import "components/links";

// import modules
@import "modules/header";
@import "modules/social";
@import "modules/footer";
@import "modules/teaser";

// general styles
html,body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: $bodyBackground;
	font-family: $fontFamily;
	font-size: 16px;
	color: $textColor;
	line-height: 1.3em;
}

img[alt="Sauce Labs"] {
	margin: 15px 20px 0 0;
}