.highlight  {
    background: $white;

    pre{ padding: 15px 0; }
    .sh {
        color: $black;
        word-spacing: 0.3em;
        .lineno {
            display: block;
            float: left;
            width: 30px;
            text-align: center;
            color: $white;

            &:before {
                color: $black;
                content: "$";
                padding: 0 15px;
            }
        }
    }
    .c { color: #999988; font-style: italic } /* Comment */
    .err { color: #a61717; background-color: #e3d2d2 } /* Error */
    .k { font-weight: bold } /* Keyword */
    .o { font-weight: bold } /* Operator */
    .cm { color: #999988; font-style: italic } /* Comment.Multiline */
    .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
    .c1 { color: #999988; font-style: italic } /* Comment.Single */
    .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
    .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
    .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
    .ge { font-style: italic } /* Generic.Emph */
    .gr { color: #aa0000 } /* Generic.Error */
    .gh { color: #999999 } /* Generic.Heading */
    .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
    .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
    .go { color: #888888 } /* Generic.Output */
    .gp { color: #555555 } /* Generic.Prompt */
    .gs { font-weight: bold } /* Generic.Strong */
    .gu { color: #aaaaaa } /* Generic.Subheading */
    .gt { color: #aa0000 } /* Generic.Traceback */
    .kc { font-weight: bold } /* Keyword.Constant */
    .kd { font-weight: bold } /* Keyword.Declaration */
    .kp { font-weight: bold } /* Keyword.Pseudo */
    .kr { font-weight: bold } /* Keyword.Reserved */
    .kt { color: #445588; font-weight: bold } /* Keyword.Type */
    .m { color: #009999 } /* Literal.Number */
    .s { color: #d14 } /* Literal.String */
    .na { color: #008080 } /* Name.Attribute */
    .nb { color: #0086B3 } /* Name.Builtin */
    .nc { color: #445588; font-weight: bold } /* Name.Class */
    .no { color: #008080 } /* Name.Constant */
    .ni { color: #800080 } /* Name.Entity */
    .ne { color: #990000; font-weight: bold } /* Name.Exception */
    .nf { color: #990000; font-weight: bold } /* Name.Function */
    .nn { color: #555555 } /* Name.Namespace */
    .nt { color: #000080 } /* Name.Tag */
    .nv { color: #008080 } /* Name.Variable */
    .ow { font-weight: bold } /* Operator.Word */
    .w { color: #bbbbbb } /* Text.Whitespace */
    .mf { color: #009999 } /* Literal.Number.Float */
    .mh { color: #009999 } /* Literal.Number.Hex */
    .mi { color: #009999 } /* Literal.Number.Integer */
    .mo { color: #009999 } /* Literal.Number.Oct */
    .sb { color: #d14 } /* Literal.String.Backtick */
    .sc { color: #d14 } /* Literal.String.Char */
    .sd { color: #d14 } /* Literal.String.Doc */
    .s2 { color: #d14 } /* Literal.String.Double */
    .se { color: #d14 } /* Literal.String.Escape */
    .si { color: #d14 } /* Literal.String.Interpol */
    .sx { color: #d14 } /* Literal.String.Other */
    .sr { color: #009926 } /* Literal.String.Regex */
    .s1 { color: #d14 } /* Literal.String.Single */
    .ss { color: #990073 } /* Literal.String.Symbol */
    .bp { color: #999999 } /* Name.Builtin.Pseudo */
    .vc { color: #008080 } /* Name.Variable.Class */
    .vg { color: #008080 } /* Name.Variable.Global */
    .vi { color: #008080 } /* Name.Variable.Instance */
    .il { color: #009999 } /* Literal.Number.Integer.Long */
}

div.highlight {
    margin: 20px 0;
}

table.highlight {
    width: 100%;
    font-size: 0.8em;
    line-height: 1.2em;
    max-height: 300px;
}
.gist-data {
    max-height: 500px;
}
.gist .gist-file {
    border-radius: 0 0 3px 3px;

    &:first-child:nth-last-child(2) {
        margin-bottom: 0;
        border-radius: 0;
        border-bottom: 0;
    }
}

.gists {
    >div {
        display: none;
    }
    .show {
        display: block;
    }
}

.gist-header {
    @include background-image(linear-gradient(#fafafa, #e8e8e8));
    background-repeat: repeat-x;
    font: 12px "Helvetica Neue", Helvetica, arial, freesans, clean, sans-serif;
    font-weight: bold;
    color: #666666;
    text-shadow: 1px 1px rgba(255,255,255,0.8);
    overflow: hidden;
    padding: 5px 0 5px 10px;
    border: 1px solid #ddd;
    border-top: 1px solid #ccc;
    border-bottom: 0;
    border-radius: 3px 3px 0 0;
    margin-top: 25px;

    span {
        padding-right: 10px;
    }

    button {
        @include background-image(linear-gradient(top, #ecb698 0%, #dd6b2a 50%, #ea5906 50%, #b34c11 100%));
        border: 1px solid #ecb698;
        border-bottom: 1px solid #ecb698;
        border-radius: 5px;
        -webkit-box-shadow: inset 0 1px 0 0 #b34c11;
        box-shadow: inset 0 1px 0 0 #b34c11;
        color: #fff;
        font: bold 12px "helvetica neue", helvetica, arial, sans-serif;
        padding: 7px 20px 8px;
        text-decoration: none;
        text-align: center;
        text-shadow: 0 -1px 1px #000f4d;
        margin-left: 10px;

        &:hover {
            cursor: pointer;
        }
        &:active {
            @include background-image(linear-gradient(bottom, #ecb698 0%, #dd6b2a 50%, #ea5906 50%, #b34c11 100%));
        
        }
    }
}