footer {
    width: 100%;
    border-bottom: $headerTopBorder solid $orange;
    height: $headerHeight;
    background: $headerBackground;
    color: $footerFontColor;

    .twitterLink {
    	@include border-radius(100px);
    	// border: 2px solid $orange;
		width: 100px;
		height: 100px;
		display: block;
		float: left;
		margin: 20px 20px 0 0;
		overflow: hidden;


    	img {
    		width: 100%;
    	}
    }

    cite {
        display: block;
        clear: both;
        text-align: center;
        padding-top: 55px;
        overflow: hidden;

        em {
            color: $heartColor;
            font-size: 0.8em;
            padding: 0 5px;
        }
    }
}