header {
    width: 100%;
    border-top: $headerTopBorder solid $orange;
    height: $headerHeight;
    background: $headerBackground;

    .hero {
        text-decoration: none;

        h1 {
            font-size: $headerLogoFontSize;
            color: $headerFontColor;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 0.1em;
            width: 470px;
            margin: 30px 20px 0 0;
            line-height: 0.92em;
            float: left;

            &:before {
                content: url('/images/webdriver-robot.png');
                display: block;
                text-align: center;
            }
        }
    }

    .link {
        @include border-radius(5px);
        background: $orange;
        color: $headerFontColor;
        width: $naviWidth;
        height: $naviHeight;
        display: block;
        float: left;
        text-decoration: none;
        margin: 24.7% 20px 0 0;
        text-align: center;
        font-size: 1.15em;
        line-height: 2.5em;
        letter-spacing: 0.03em;

        &.last {
            margin-right: 0;
        }
    }
    
}