<!DOCTYPE html>

<title>{{ page.title }}</title>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="canonical" href="http://2013.jsconf.eu{{ page.url | replace:'index.html','' }}" />
<link rel="shortcut icon" href="/favicon.ico" />

<link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" media="screen, projection" />

<header>
    <div class="container">
        <a href="http://webdriver.io" class="hero"><h1>WebdriverJS</h1></a>
        <a href="get-started.html" class="link">Get Started</a>
        <a href="api.html" class="link last">API Documentation</a>
    </div>
</header>

<section>
    <div class="container">
        {{content}}
    </div>
</section>

<section class="social">(social links here)</section>

<footer>
    <div class="container">
        footer goes here
    </div>
</footer>