<!DOCTYPE html>

<title>{{ page.title }}</title>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="canonical" href="http://2013.jsconf.eu{{ page.url | replace:'index.html','' }}" />
<link rel="shortcut icon" href="/favicon.ico" />

<link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" media="screen, projection" />

<header>
    <div class="container">
        <a href="http://webdriver.io" class="hero"><h1>WebdriverJS</h1></a>
        <a href="get-started.html" class="link">Get Started</a>
        <a href="api.html" class="link last">API Documentation</a>
    </div>
</header>

<section>
    <div class="container">
        {{content}}
    </div>
</section>

<section class="social">(social links here)</section>

<footer>
    <div class="container">
        <article class="col2">
            <p>This project is maintained by:</p>
            <a class="twitterLink" href="http://twitter.com/bromann" title="Christian Bromann"><img src="https://si0.twimg.com/profile_images/1806512295/profil.png" alt="@bromann"></a>
            <a class="twitterLink" href="http://twitter.com/camilotapia" title="Camilo Tapia"><img src="https://si0.twimg.com/profile_images/2675987215/e8f89a3b4ea11fa934e9339a3bdb575f.jpeg" alt="@camilotapia"></a>
            <a class="twitterLink" href="http://twitter.com/dan_jenkins" title="Dan Jenkins"><img src="https://si0.twimg.com/profile_images/1596625556/silhouette.png" alt="@dan_jenkins"></a>
        </article>
        <article class="col2 last">
            copyright &copy; 2013 by <a href="http://christian-bromann.com" target="_blank">Christian Bromann</a><br>
            Design by <a href="http://anton-meier.de/" target="_blank">Anton Meier</a>

        </article>
        <cite>we <em>♥</em> testing</cite>
    </div>
</footer>